@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/variables';

.rrule-generator {
	label {
		flex: 0 1 20%;
		font-size: var(--ee-font-size-default);
		font-family: var(--ee-admin-font-family);
		line-height: var(--ee-icon-button-size); // 42px

		text-align: right;
	}

	.ee-input__wrapper {
		label {
			margin: 0 var(--ee-margin-micro);
		}
	}

	&__form-group {
		&-row {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1rem;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			&--align-items-start {
				align-items: flex-start;
			}

			&--no-label {
				flex-direction: column;
			}
		}
	}

	&__frequency {
		flex: 0 1 80%;
		// > .ee-select-wrapper {
		// 	min-width: 214px;
		// 	// border: 1px solid red;
		// }
	}

	&__on,
	&__on-the {
		align-items: center;
		display: flex;
		margin-top: 1rem;
		width: 100%;
		flex-direction: row;

		span {
			font-size: var(--ee-font-size-default);
			font-family: var(--ee-admin-font-family);
			margin-right: var(--ee-margin-micro);
			margin: 0;
			white-space: nowrap;
			padding: 0 var(--ee-padding-tiny);
			// border: 1px solid red;
			// padding-left: 5px;
			// text-align: left;
			// width: 45px;
		}

		.ee-select-wrapper {
			// width: auto;

			.rrule-generator__month {
				min-width: 115px;
			}
		}

		.ee-radio__wrapper {
			margin: 0;

			+ span {
				// padding-left: 0;
				// padding-left: 5px;
			}

			label.chakra-radio {
				text-align: left;
				min-width: 95px;
				// border: 1px solid red;
			}
		}
	}

	&__labelled-input {
		@at-root label#{&} {
			align-items: center;
			display: flex !important;
			flex: initial;
			margin: 0 !important;
			padding: 0;
			max-width: none;

			.ee-number-input {
				margin-right: var(--ee-margin-smaller);
			}

			span {
				color: var(--ee-color-primary-high-contrast);
				font-size: var(--ee-font-size-default);

				+ input {
					margin-left: 0.5rem;
					margin-right: 0.5rem !important;
				}
			}
		}
	}

	&__form-control {
		.rrule-generator & {
			color: var(--ee-default-text-color-high-contrast);
			margin-right: 1rem;
			min-width: 140px;
			width: 100%;

			&:hover {
				color: var(--ee-default-text-color-high-contrast);
			}
		}

		// @at-root select#{&} {
		// 	height: 2rem;

		// 	&--medium-width {
		// 		min-width: 6rem !important;
		// 	}
		// }

		// &.rrule-generator {
		// 	// &__day {
		// 	// 	width: 50px;
		// 	// }

		// 	&__day,
		// 	&__month {
		// 		min-width: 115px;
		// 	}
		// }
	}

	// &__day,
	// &__month {
	// 	min-width: 115px;
	// }

	&__repeat {
		&-daily,
		&-monthly,
		&-weekly {
			margin-top: 1rem;
		}
	}

	// &__frequency > .ee-select-wrapper,
	// &__end-after,
	// .react-datepicker__input-container {
	// 	width: 214px;
	// 	// border: 1px solid red;
	// }

	// &__form-group-row {
	// 	align-items: baseline;
	// }
	// select {
	// 	width: 115px !important;
	// }
	.react-datepicker__input-container,
	&__frequency > .ee-select-wrapper,
	&__end-after.chakra-select.ee-select {
		width: 210px;
	}

	.rrule-text {
		margin-bottom: 1rem;
	}

	.col-form-label {
		align-self: baseline;
		font-weight: bold;
	}

	.chakra-numberinput__field,
	label {
		padding: 0 var(--ee-padding-tiny) 0 0;
	}

	.chakra-numberinput {
		margin-right: var(--ee-margin-tiny);
	}

	.chakra-radio__label {
		margin-right: 0;
	}
}

// .rrule-generator__end-after {
// 	width: 214px !important;
// 	border: 1px solid red !important;
// }
