@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/variables';

.rrule-generator {
	.ee-input-label,
	.ee-weekly-label {
		align-self: baseline;
		flex: 0 0 20%;
		font-size: var(--ee-font-size-default);
		font-family: var(--ee-admin-font-family);
		line-height: var(--ee-icon-button-size); // 42px
		text-align: end;

		&.col-form-label {
			font-weight: bold;
		}
	}

	&__form-group-row {
		flex-direction: column;
		margin-block-end: var(--ee-margin-small);
		width: 100%;

		&:last-child {
			margin-block-end: 0;
		}

		> .ee-container {
			@include max360px {
				align-items: flex-start;
				justify-content: flex-start;
			}
			@include min600px {
				flex: 0 1 80%;
				flex-wrap: wrap;
			}
		}

		> div.ee-container {
			width: 100%;
		}

		@include min600px {
			flex-direction: row;
		}

		@include max600px {
			.ee-divider--vertical {
				flex-basis: 100%;
				height: 0;
				margin-block-end: var(--ee-margin-small);
			}
		}
	}

	&__frequency {

		> div {
			margin-block-end: var(--ee-margin-small);
		}

		.ee-container > div {
			margin-inline-end: var(--ee-margin-small);

			&:last-child {
				margin-inline-end: 0;
			}
		}

		> .ee-select-wrapper {
			display: inline-block;

			.ee-select {
				width: 100%;
			}
		}
	}

	&__on,
	&__on-the {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;

		> div {
			margin-inline-end: var(--ee-margin-small);
		}

		span {
			font-size: var(--ee-font-size-default);
			font-family: var(--ee-admin-font-family);
			margin-inline: var(--ee-margin-micro);
			white-space: nowrap;
		}

		> span {
			margin-inline-end: var(--ee-margin-small);
		}

		.ee-select-wrapper {
			.rrule-generator__month {
				min-width: 115px;
			}
		}

		.ee-radio__wrapper {
			margin: 0;

			label {
				text-align: left;
				min-width: 95px;
			}
		}
	}

	&__form-control {
		.rrule-generator & {
			color: var(--ee-default-text-color-high-contrast);
			margin-inline-end: var(--ee-margin-small);
			min-width: 140px;
			width: 100%;

			&:hover {
				color: var(--ee-default-text-color-high-contrast);
			}
		}
	}

	.react-datepicker__input-container,
	&__frequency > .ee-select-wrapper,
	&__select-end.ee-select {
		width: 156px;
	}

	.rrule-text {
		margin-block-end: var(--ee-margin-small);
	}

	.ee-input-label {
		padding: 0 var(--ee-padding-tiny) 0 0;
	}

	.ee-number-input {
		margin-inline-end: var(--ee-margin-tiny);
	}
}
