@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/base-styles';

.ee-select-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 100%;

	@at-root .ee-input__wrapper & {
		min-width: clamp(8rem, 100%, 10rem);
		width: 100%;

		@include min480px {
			max-width: 100%;
			width: auto;
		}
	}

	&--fit-container {
		width: 100% !important;
	}

	.ee-select.ee-select {
		@include ee-base-inputs-styles;
		@at-root {
			select#{&} {
				@include ee-base-inputs-styles;

				&:focus {
					@include ee-input-base-focus;
				}

				&:hover {
					@include ee-input-base-hover;
				}
			}
		}

		@include ee-input-base-focus;

		@include ee-input-base-hover;

		@include ee-input-disabled-hover;

		appearance: none;
		max-width: none; // .wp-core-ui select override
		min-width: auto; // .wp-core-ui select override
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		padding-inline-end: var(--ee-padding-bigger);

		&--inline {
			min-width: 3rem; // might be replaced with a sizing variable

			option {
				color: var(--ee-default-text-color);
			}
		}

		&--no-border-color {
			border-color: transparent;
		}

		option {
			font-size: var(--ee-font-size-default);
		}
	}

	&--inline {
		display: inline-flex;
	}

	.chakra-select__icon-wrapper {
		inset-inline-end: var(--ee-base-ui-scale);
	}

	> div {
		svg,
		svg.ee-svg.ee-svg {
			color: var(--ee-border-color);
			height: 1.25rem !important;
			width: 1.25rem !important;
		}
	}

	&--inline {
		> div {
			svg,
			svg.ee-svg.ee-svg {
				color: currentColor;
				fill: currentColor;
			}
		}
	}
}
