@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-grid.ee-grid {
	display: grid;
	grid-gap: var(--ee-padding-tiny);
	margin: var(--ee-margin-tiny) 0;

	&--one {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	&--two {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	&--size {
		&-lg {
			@include min1920px {
				grid-gap: var(--ee-padding-default);
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}
		}

		&-md {
			@include min960px {
				grid-gap: var(--ee-padding-small);
			}
		}

		&-sm {
			@include max1024px {
				grid-gap: var(--ee-padding-smaller);
				grid-template-columns: repeat(1, minmax(0, 1fr));
			}
		}
	}

	.ee-grid__item.ee-grid__item {
		&--size {
			&-smaller {
			}

			&-small {
			}

			&-big {
			}

			&-bigger {
			}

			&-huge {
			}
		}
	}

	.ee-grid-card {
		background: #fff;
		background: var(--ee-background-color);
		box-shadow: var(--ee-box-shadow-tiny-diffuse);
		border-radius: var(--ee-border-radius-default);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		height: unset;
		padding: var(--ee-padding-small);

		&__heading {
			margin: 0;
		}

		label {
			flex: 0 0 33%;
			margin-inline-end: 1rem;
			text-align: end;
			line-height: calc(var(--ee-line-height-modifier) * 0.875);
		}
	}
}
