@import '~@eventespresso/styles/src/mixins/reduce-motion';

:root {
	--toastify-color-light: var(--ee-background-color);
	--toastify-color-dark: var(--ee-default-text-color-high-contrast);
	--toastify-color-info: var(--ee-color-bright-blue);
	--toastify-color-success: var(--ee-color-bright-green-high-contrast);
	--toastify-color-warning: #ffe932;
	--toastify-color-error: #f60d59;

	--toastify-text-color-light: var(--ee-default-text-color);
	--toastify-text-color-dark: var(--ee-text-color-on-black);

	--toastify-toast-background: var(--ee-background-color);

	--ee-toast-icon-size: 1.6875rem;
	--ee-toast-btn-size: 12px;
}

.Toastify__toast {
	box-shadow: var(--ee-box-shadow-default);
	font-family: var(--ee-admin-font-family);
	font-size: 1.2rem;
	line-height: 1rem;
	margin-bottom: var(--ee-margin-smaller);
	max-width: 40rem;
	min-width: 20rem;
	padding: var(--ee-padding-smaller);

	&-icon {
		justify-self: flex-start;
		margin: 0;
		margin-inline-end: var(--ee-margin-default);
		position: relative;
		top: 2px;

		  svg.ee-svg.ee-svg {
			font-size: 1rem;
			height: var(--ee-toast-icon-size);
			margin: 0;
			width: var(--ee-toast-icon-size);

			&--spinner {
				animation: var(--ee-animation-spin);
				@include reduce-motion('animation');
			}
		}
	}


	/** handle the notificaiton color and the text color based on the theme **/
	&-theme {

		&--light {
			background-color: var(--ee-background-color);
			color: var(--ee-default-text-color-high-contrast);

			.Toastify__close-button svg {
				color: var(--ee-default-text-color-low-contrast);
				fill: var(--ee-default-text-color-low-contrast);
			}

			&.Toastify__toast {
				&--info,
				&--default {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-primary);
						fill: var(--ee-color-primary);
					}
				}

				&--success {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-bright-green-high-contrast);
						fill: var(--ee-color-bright-green-high-contrast);
					}
				}

				&--warning {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-gold);
						fill: var(--ee-color-gold);
					}
				}

				&--error {
					svg.ee-svg.ee-svg {
						color: var(---ee-color-hot-pink);
						fill: var(--ee-color-hot-pink);
					}
				}
			}
		}

		&--dark {
			background-color: var(--ee-color-grey-2);
			color: var(--ee-color-grey-12);

			.Toastify__close-button svg {
				color: var(--ee-color-grey-13);
				fill: var(--ee-color-grey-13);
			}

			&.Toastify__toast {
				&--info,
				&--default {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-blue-low-contrast);
						fill: var(--ee-color-blue-low-contrast);
					}
				}

				&--success {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-bright-green-high-contrast);
						fill: var(--ee-color-bright-green-high-contrast);
					}
				}

				&--warning {
					svg.ee-svg.ee-svg {
						color: var(--ee-color-gold);
						fill: var(--ee-color-gold);
					}
				}

				&--error {
					svg.ee-svg.ee-svg {
						color: var(---ee-color-hot-pink-low-contrast);
						fill: var(--ee-color-hot-pink-low-contrast);
					}
				}
			}
		}

		&--colored.Toastify__toast {
			&--default {
				background-color: var(--ee-background-color);
				color: var(--ee-default-text-color-high-contrast);

				svg.ee-svg.ee-svg,
				.Toastify__close-button svg {
					color: var(--ee-color-primary);
					fill: var(--ee-color-primary);
				}
			}
			&--info {
				background-color: var(--ee-color-bright-blue-low-contrast);
				color: var(--ee-text-on-bright-blue-low-contrast);

				svg.ee-svg.ee-svg,
				.Toastify__close-button svg {
					color: var(--ee-text-on-bright-blue-low-contrast);
					fill: var(--ee-text-on-bright-blue-low-contrast);
				}
			}
			&--success {
				background-color: var(--ee-color-bright-green-high-contrast);
				color: var(--ee-text-on-bright-green-high-contrast);

				svg.ee-svg.ee-svg,
				.Toastify__close-button svg {
					color: var(--ee-text-on-bright-green-high-contrast);
					fill: var(--ee-text-on-bright-green-high-contrast);
				}
			}
			&--warning {
				color: var(--ee-default-text-color-high-contrast);
				background-color: var(--toastify-color-warning);
				font-weight: 500;

				svg.ee-svg.ee-svg,
				.Toastify__close-button svg {
					color: var(--ee-default-text-color-high-contrast);
					fill: var(--ee-default-text-color-high-contrast);
				}
			}
			&--error {
				background-color: var(--toastify-color-error);

				svg.ee-svg.ee-svg,
				.Toastify__close-button svg {
					color: var(--ee-color-white);
					fill: var(--ee-color-white);
				}
			}
		}
	}
}

// transitions
.animate__animated.animate__flipInX {
	--animate-duration: .6s;
}
.animate__animated.animate__bounceInRight,
.animate__animated.animate__bounceOutRight {
	--animate-duration: .8s;
}
