@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-grid.ee-grid {
	.ee-edtr-option {
		color: var(--ee-default-text-color-low-contrast);
		font-weight: 700;
		height: var(--ee-icon-button-size-big);

		@include min1024px {
			font-size: var(--ee-font-size-big);
			height: var(--ee-icon-button-size-bigger);
		}

		&__active-status,
		&__default-reg-status,
		&__active-status-wrapper .chakra-select__icon-wrapper,
		&__default-reg-status-wrapper .chakra-select__icon-wrapper {
			color: var(--ee-color-white);

			&:hover {
				color: var(--ee-color-white);
			}
		}

		.ee-tabbable-text {
			padding-inline-start: var(--ee-padding-small);

			.ee-tabbable-text__inner_wrapper {
				margin-right: auto;
				line-height: normal;
			}
		}

		&.ee-switch {
			display: flex;
			align-items: center;
			padding: var(--ee-padding-small);
		}
	}
}
