@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-grid.ee-grid {
	.ee-reg-option {
		&__active-status,
		&__event-manager,
		&__event-phone,
		&__event-donations,
		&__default-status,
		&__ticket,
		&__max-reg,
		&__alt-reg {
			min-height: 42px;

			.ee-tabbable-text {
				padding-left: 12px;

				.ee-tabbable-text__inner_wrapper {
					margin-right: auto;
				}
			}
		}

		&__max-reg,
		&__event-phone,
		&__default-status,
		&__active-status,
		&__event-manager,
		&__alt-reg {
			font-size: var(--ee-font-size-bigger);
			color: var(--ee-color-grey-7);
			font-weight: bold;

			span.ee-tabbable-text__inner_wrapper {
				line-height: normal;
			}
		}

		&__default-status,
		&__active-status {
			color: var(--ee-color-white);

			&:hover {
				color: var(--ee-color-white);
			}

			h3.ee-edtr-section-heading.ee-heading.ee-heading {
				font-size: calc(var(--ee-font-size-huge) * 1.375);
			}
		}

		&__event-donations,
		&__ticket {
			display: flex;
			align-items: center;
			padding-left: 14px;
		}
	}
}

.ee-edtr-section {
	.ee-input-label {
		white-space: normal;
	}

	.ee-grid-card .chakra-select__icon-wrapper {
		color: var(--ee-color-white);
	}

	h3.chakra-heading.ee-heading.ee-grid-card__heading {
		font-size: calc(var(--ee-font-size-huge) * 1.375);
		margin-bottom: 15px;
	}
}
