@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-grid.ee-grid .ee-grid__item.ee-reg-option {
	&__active-status,
	&__event-manager,
	&__event-phone,
	&__event-donations,
	&__default-status,
	&__ticket,
	&__max-reg,
  &__alt-reg {
		display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
		height: 80px;
		padding-bottom: 0;

		.ee-grid__item.ee-reg-option__active-status {
			box-shadow: none;
		}

		.ee-tabbable-text {
			padding-left: 12px;

			.ee-tabbable-text__inner_wrapper {
				margin-right: auto;
				
			}
		}

		.ee-switch {
			padding-left: 14px;
		}

		.ee-grid__item-label {
			text-align: right;
			padding-right: 50px;
			font-size: var(--ee-font-size-default);
		}

		.ee-reg-option__value, 
		.chakra-switch,
		.ee-grid__item-label {
			width: 50%;
		}		

		.ee-select-wrapper {
			width: 100%;

			.ee-select {
				&.ee-select {
					font-size: var(--ee-font-size-bigger);
					font-weight: bold;
				}
			}
		}
	}	

	&__max-reg,
	&__event-phone,
	&__default-status, 
	&__active-status {
		.ee-tabbable-text, .ee-inline-edit__input {
			font-size: var(--ee-font-size-bigger);
			font-weight: bold;
		}
	}

	&__default-status, 
	&__active-status {
		#ee-event-registration-active-status-select {
			background-color: var(--ee-status-color-blue);
    	color: var(--ee-color-white);
		}

		#ee-event-registration-default-status-select {
			background-color: var(--ee-status-color-green);
			color: var(--ee-color-white);
		}


		.chakra-select__icon-wrapper {
			color: var(--ee-color-white);
		}
	}

	&__event-donations,
	&__alt-reg {
		padding-bottom: 16px;
	}
}
