@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-input-with-label {
	.ee-input-with-label {
		&__left-addon,
		&__right-addon {
			background-color: var(--ee-color-grey-14);
			border-width: var(--ee-border-width);
			border-color: var(--ee-border-color);
			border-radius: var(--ee-border-radius-small);
			box-sizing: border-box;
			height: var(--ee-icon-button-size);
			margin-block: var(--ee-margin-micro);
			margin-inline: var(--ee-margin-micro);
		}

		&__left-addon {
			border-start-end-radius: 0 !important;
			border-end-end-radius: 0 !important;
			margin-inline-end: 0 !important;
		}

		&__right-addon {
			border-start-start-radius: 0 !important;
			border-end-start-radius: 0 !important;
			margin-inline-start: 0 !important;
		}
	}

	&__left-label > .ee-input-base.ee-text-input {
		border-start-start-radius: 0 !important;
		border-end-start-radius: 0 !important;
		border-inline-start: none;
		margin-inline-start: 0 !important;
	}

	&__right-label > .ee-input-base.ee-text-input {
		border-start-end-radius: 0 !important;
		border-end-end-radius: 0 !important;
		border-inline-end: none;
		margin-inline-end: 0 !important;
	}

	&--disabled {
		.ee-input-with-label {
			&__left-addon,
			&__right-addon {
				background-color: var(--ee-color-grey-14);
				border-color: var(--ee-color-grey-11);
				color: var(--ee-default-text-color-low-contrast);
				opacity: 0.8;
			}
		}
	}
}
