@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-venue-selector {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	width: 100%;

	&--inline {
		align-items: center;
		flex-direction: row;
	}

	.ee-input__wrapper,
	.ee-select-wrapper {
		width: 100%;
	}

	&__edit-link,
	&__add-new-link {
		font-size: var(--ee-font-size-small);
	}

	&__add-new-link.ee-btn-base.ee-icon-button {
		margin-inline-start: var(--ee-margin-tiny);
	}

	svg.ee-svg.ee-svg {
		color: var(--ee-default-text-color) ! important;
		height: 1.5rem;
		width: 1.5rem;
	}
}
