/** -------------------------------------------------------------------------
 * Event Espresso withLabel Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */
@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-input-label {
	&__wrapper {
		align-items: flex-start;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: var(--ee-padding-tiny);
		width: 100%;

		&--font-weight-normal {
			label {
				font-weight: normal;
			}
		}

		&--no-padding {
			padding: 0;
		}

		label,
		legend {
			margin: 0 var(--ee-margin-tiny);
		}

		&--bottom-left,
		&--bottom-center,
		&--bottom-right {
			flex-direction: column-reverse;
		}

		&--left-top,
		&--left-middle,
		&--left-bottom {
			flex-direction: row;
		}

		&--right-top,
		&--right-middle,
		&--right-bottom {
			flex-direction: row-reverse;
		}

		&--top-center,
		&--bottom-center,
		&--left-middle,
		&--right-middle {
			align-items: center;
		}
	}
}
