@use '../functions';

:root {
    --ee-color-white: hsl(207, 0%, 100%);
    --ee-color-may-as-well-be-white: hsl(207, 0%, 97.5%);
    --ee-color-almost-white: hsl(207, 0%, 95%);
    --ee-color-white-cloud: hsl(207, 5%, 87.5%);
    --ee-color-grey-cloud: hsl(207, 5%, 75%);
    --ee-color-off-white: hsl(207, 0%, 90%);
    --ee-status-color-pink: hsl(340, 100%, 70%);
	--ee-status-color-hot-pink: hsl(342, 74%, 63%);
    --ee-status-color-red: hsl(350, 90%, 60%);
    --ee-status-color-orange: hsl(20, 100%, 60%);
    --ee-status-color-gold: hsl(40, 98%, 50%);
    --ee-status-color-yellow: hsl(50, 95%, 45%);
    --ee-status-color-yellow-desat: hsl(50, 95%, 45%);
    --ee-status-color-dark-green: hsl(95, 50%, 25%);
    --ee-status-color-green: hsl(140, 85%, 35%);
	--ee-status-color-dark-green-low-contrast: hsl(140, 85%, 45%);
    --ee-status-color-green-high-contrast: hsl(140, 100%, 25%);
    --ee-status-color-light-green: hsl(145, 35%, 45%);
    --ee-status-color-blue-green: hsl(176, 95%, 30%);
    --ee-status-color-blue: hsl(203, 60%, 50%);
    --ee-status-color-light-blue: hsl(203, 90%, 70%);
    --ee-status-color-pale-blue: hsl(203, 55%, 95%);
    --ee-status-color-violet: hsl(239, 35%, 60%);
    --ee-status-color-purple: hsl(279, 35%, 50%);
    --ee-status-color-pale-grey: hsl(219, 2%, 75%);
    --ee-status-color-light-grey: hsl(219, 2%, 55%);
    --ee-status-color-grey: hsl(225, 2%, 37.5%);
    --ee-status-color-dark-grey: hsl(225, 2%, 25%);
    --ee-status-color-charcoal: hsl(225, 0%, 15%);
}

$datetime-statuses: (
	// datetime sold out
	DTS: 'purple',
	// datetime active
	DTA: 'green',
	// datetime postponed
	DTP: 'gold',
	// datetime cancelled
	DTC: 'hot-pink',
	// datetime inactive
	DTI: 'blue-green',
	// datetime expired
	DTE: 'dark-grey',
	// datetime trashed
	DTT: 'charcoal',
	// datetime upcoming
	DTU: 'blue'
);

$payment-statuses: (
	// payment approved
	PAP: 'green',
	// payment pending
	PPN: 'blue',
	// payment failed
	PFL: 'gold',
	// payment declined
	PDC: 'hot-pink',
	// payment cancelled
	PCN: 'dark-grey'
);

$registration-statuses: (
	// registration approved
	RAP: 'green',
	// registration pending
	RPP: 'blue',
	// registration wait list
	RWL: 'purple',
	// registration incomplete
	RIC: 'gold',
	// registration not approved
	RNA: 'orange',
	// registration declined
	RDC: 'hot-pink',
	// registration cancelled
	RCN: 'dark-grey'
);

$ticket-statuses: (
	// ticket sold-out
	TKS: 'purple',
	// ticket onsale
	TKO: 'green',
	// ticket pending
	TKP: 'blue',
	// ticket expired
	TKE: 'dark-grey',
	// ticket archived
	TKA: 'charcoal'
);

$transaction-statuses: (
	// transaction open
	TOP: 'orange',
	// transaction completed
	TCM: 'green',
	// transaction incomplete
	TIN: 'blue',
	// transaction abandoned
	TAB: 'gold',
	// transaction failed
	TFL: 'hot-pink'
);

$statuses: map-collect(
	$datetime-statuses,
	$payment-statuses,
	$registration-statuses,
	$ticket-statuses,
	$transaction-statuses
);

@each $status, $color in $statuses {
	.ee-status-color--#{$status} {
		color: var(--ee-color-#{$color});
	}

	.ee-status-background-color--#{$status} {
		background-color: var(--ee-status-color-#{$color}) !important;

		@if ($color == 'green' or $color == 'charcoal' or $color == 'dark-grey') {
			color: var(--ee-color-white) !important;
		} @else {
			color: var(--ee-text-on-#{$color});
		}
	}
}
