.ee-money-field {
	$percentSignWidth: 24px;
	// this is the largest value for letter like M or W,
	$signCharSize: 15px;
	// sign label has only one border applied, the other border is adjoined with input
	$signBorderWidth: var(--ee-border-width);
	// sign have paddings from both horizontal sides
	$signPaddings: calc(var(--ee-padding-pico) * 2);

	&__label {
		min-width: $percentSignWidth;
		text-align: center;
	}

	&--with-currency-sign {
		.ee-input-with-label__left-label {
			margin-inline-end: #{$percentSignWidth} + #{$signBorderWidth};
		}

		.ee-currency-sign {
			box-sizing: content-box; //  need separate control over width and paddings

			@mixin width($charLength) {
				width: #{$signCharSize * $charLength};
			}

			&.ee-cur-sign-2 {
				@include width(2);
			}

			&.ee-cur-sign-3 {
				@include width(3);
			}

			&.ee-cur-sign-4 {
				@include width(4);
			}

			&.ee-cur-sign-5 {
				@include width(5);
			}

			&.ee-cur-sign-6 {
				@include width(6);
			}
		}
	}

	&--with-percent-sign {
		.ee-percent-sign {
			box-sizing: content-box; //  need separate control over width and paddings
			width: #{$percentSignWidth};
		}

		&.ee-money-field-sign {
			&--before {
				margin-inline-start: calc(#{$percentSignWidth} + #{$signBorderWidth});

				@mixin marginLeft($charLength) {
					margin-inline-start: calc(#{$signCharSize * $charLength} + #{$signBorderWidth} + #{$signPaddings});
				}

				&.ee-cur-sign-2 {
					@include marginLeft(2);
				}

				&.ee-cur-sign-3 {
					@include marginLeft(3);
				}

				&.ee-cur-sign-4 {
					@include marginLeft(4);
				}

				&.ee-cur-sign-5 {
					@include marginLeft(5);
				}

				&.ee-cur-sign-6 {
					@include marginLeft(6);
				}
			}

			&--after {
				margin-inline-end: calc(#{$percentSignWidth} + #{$signBorderWidth});

				@mixin marginRight($charLength) {
					margin-inline-end: calc(
						#{$signCharSize * $charLength} + #{$signBorderWidth} + #{$signPaddings} - #{$percentSignWidth}
					);
				}

				&.ee-cur-sign-2 {
					@include marginRight(2);
				}

				&.ee-cur-sign-3 {
					@include marginRight(3);
				}

				&.ee-cur-sign-4 {
					@include marginRight(4);
				}

				&.ee-cur-sign-5 {
					@include marginRight(5);
				}

				&.ee-cur-sign-6 {
					@include marginRight(6);
				}
			}
		}
	}

	.ee-input-with-label__left-label,
	.ee-input-with-label__right-label {
		width: 100%;

		.ee-input__price-field {
			width: 100%;
		}
	}
}
