// @import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-btn-base {
	&.ee-btn {
		box-sizing: border-box;

		svg.ee-svg.ee-svg {
			bottom: 1px;
			height: var(--ee-font-size-2xl);
			margin-inline-end: var(--ee-margin-nano);
			margin-inline-start: 0;
			position: relative;
			width: var(--ee-font-size-2xl);
		}

		&.ee-btn--micro {
			box-shadow: var(--ee-button-box-shadow-soft);
			font-size: var(--ee-font-size-micro);
			height: var(--ee-icon-button-size-micro);
			min-height: var(--ee-icon-button-size-smaller);
			line-height: var(--ee-icon-button-size-micro);
			padding: 1px var(--ee-padding-tiny) 2px;

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-micro);
				letter-spacing: 1px;
			}

			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-default);
				width: var(--ee-font-size-default);
			}

			.img-wrap span {
				line-height: var(--ee-font-size-micro);
			}
		}

		&.ee-btn--tiny {
			box-shadow: var(--ee-button-box-shadow-soft);
			font-size: var(--ee-font-size-tiny);
			height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-smaller);
			line-height: var(--ee-icon-button-size-tiny);
			padding: var(--ee-padding-nano) var(--ee-padding-smaller);

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-tiny);
			}

			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-big);
				width: var(--ee-font-size-big);
			}

			.img-wrap span {
				line-height: var(--ee-font-size-tiny);
			}
		}

		&.ee-btn--small,
		&.ee-btn--smaller {
			box-shadow: var(--ee-button-box-shadow-soft);
			line-height: var(--ee-font-size-small);
			height: var(--ee-icon-button-size-small);
			line-height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-small);
			letter-spacing: 1px;
			padding: calc(var(--ee-padding-nano) + 1px) var(--ee-padding-smaller) var(--ee-padding-micro);

			svg.ee-svg.ee-svg {
				margin-top: 2px;
			}

			> div {
				margin-top: 2px;

				svg.ee-svg.ee-svg {
					margin-top: 0;
				}
			}

			&:not(.ee-noIcon) .text-wrap {
				top: -0.1rem;
			}

			.img-wrap {
				top: 0.2rem;

				span {
					line-height: var(--ee-font-size-smaller);
				}
			}
		}

		&.ee-btn--small {
			box-shadow: var(--ee-button-box-shadow);
			// height: var(--ee-icon-button-size-small);
			// line-height: var(--ee-font-size-tiny);
			// min-height: var(--ee-font-size-small);

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-small);
			}

			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-xl);
				width: var(--ee-font-size-xl);
			}
		}

		&.ee-btn--smaller {
			// height: var(--ee-icon-button-size-smaller);
			// line-height: var(--ee-font-size-micro);
			// min-height: var(--ee-font-size-smaller);

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-smaller);
			}

			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-bigger);
				width: var(--ee-font-size-bigger);
			}
		}

		&.ee-btn--big,
		&.ee-btn--bigger {
			box-shadow: var(--ee-button-box-shadow-hard);
			font-size: var(--ee-font-size-big);
			height: var(--ee-icon-button-size-big);
			min-height: var(--ee-icon-button-size-big);
			line-height: var(--ee-icon-button-size-big);
			padding: var(--ee-padding-smaller) var(--ee-padding-default);

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-big);
				font-weight: 800;
			}

			svg.ee-svg.ee-svg {
				margin-inline-end: var(--ee-margin-micro);
				[dir='rtl'] & {
					margin-inline-end: 0;
					margin-inline-start: var(--ee-margin-micro);
				}
			}

			.img-wrap span {
				line-height: var(--ee-font-size-big);
			}
		}

		&.ee-btn--big {
			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-4xl);
				width: var(--ee-font-size-4xl);
			}
		}

		&.ee-btn--bigger {
			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-5xl);
				width: var(--ee-font-size-5xl);
			}
		}

		&.ee-btn--huge {
			box-shadow: var(--ee-button-box-shadow-hard);
			font-size: var(--ee-font-size-bigger);
			height: var(--ee-icon-button-size-huge);
			min-height: var(--ee-icon-button-size-huge);
			line-height: var(--ee-icon-button-size-bigger);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

			span:not(.chakra-button__icon) {
				font-size: var(--ee-font-size-bigger);
				font-weight: 800;
			}

			svg.ee-svg.ee-svg {
				height: var(--ee-font-size-6xl);
				width: var(--ee-font-size-6xl);
			}

			.img-wrap span {
				line-height: var(--ee-font-size-bigger);
			}
		}
	}
}
