$input-number: 'input[type=' number ']';

$percentSignWidth: 24px;
$money-input-margin: calc(#{$percentSignWidth} + var(--ee-border-width) + (2 * var(--ee-padding-pico)));
// sign label has only one border applied, the other border is adjoined with input

.ee-ticket-price-calculator {
	.ee-money-field {
		align-items: center;
		display: flex;

		&--with-currency-sign.ee-money-field-sign {
			&--before .ee-input__price-field {
				margin-inline-end: #{$money-input-margin};
			}
			&--after .ee-input__price-field {
				margin-inline-start: #{$money-input-margin};
			}
		}

		.ee-input {
			&__price-field {
				input {
					min-width: 6rem;
				}
				&--has-error {
					// this was used to increase specificity,
					// more info: https://sass-lang.com/documentation/at-rules/at-root
					@at-root #{$input-number}#{&} {
						background-color: var(--ee-text-on-red-low-contrast);
						border-color: var(--ee-color-red-low-contrast);
					}
				}
			}
		}
	}

	.ee-price-id {
		box-sizing: border-box;
		display: inline-block;
		padding-inline-end: var(--ee-padding-micro);
		width: 100%;
	}
}
