/** -------------------------------------------------------------------------
 * Event Espresso Container Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-container {
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	height: max-content;
	justify-content: space-between;

	// row
	&--inline {
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;

		&-reverse {
			flex-direction: column-reverse;
		}

		@include min360px {
			flex-direction: row;

			&-reverse {
				flex-direction: row-reverse;
			}
		}
	}

	// stack
	&--vertical {
		flex-direction: column;
		flex-wrap: nowrap;
		height: 100%;
	}

	&__header,
	&__section,
	&__footer {
		align-items: stretch;
		box-sizing: border-box;
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		width: 100%;

		@include min600px {
			padding: var(--ee-padding-micro);
		}
	}

	&__sidebar {
		align-items: stretch;
		box-sizing: border-box;
		display: flex;
		flex-flow: column nowrap;
		padding: 0;

		@include min600px {
			padding: var(--ee-padding-micro);
		}
	}

	&--align-start {
		justify-content: start;
	}

	&--align-center {
		align-items: center;
		justify-content: center;
	}

	&--align-end {
		justify-content: end;
	}

	&--align-top {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&--align-bottom {
		justify-content: flex-end;
	}

	&--align-evenly {
		justify-content: space-evenly;
	}

	&--align-space {
		justify-content: space-around;
	}

	&--align-wide {
		justify-content: space-between;
	}
}
