.ee-timezone-info {
	display: inline-block;
	margin-inline-start: var(--ee-margin-smaller);
	position: relative;

	&__button.ee-btn-base {
		border: none;
	}

	[role='dialog'] {
		inset-inline-start: 0;
		min-width: 260px;
		position: absolute;

		[x-arrow] {
			display: none;
		}
	}
}
