@import '~@eventespresso/styles/src/mixins/breakpoints.scss';


// targets the div that wraps the modal window and controls how much screen space is taken
// we want to go full screen on anything smaller than a big tablet in landscape (1024px)
[data-focus-lock-disabled] > div:last-child {
	@include max1024px {
		height: 100vh;
		max-height: 100vh;
		top: 0;
		z-index: 100000;
	}
}

:root {
	--ee-admin-bar-height: 46px;
}


body.ee-modal-open {
	overflow: hidden;
}

.chakra-portal {
	position: relative;
	z-index: 9991;
}

.ee-modal[role="alertdialog"] {
	border-radius: 0;
	height: 100%;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	width: 100%;

	.admin-bar & {
		height: calc(100% - var(--ee-admin-bar-height));
		top: calc( var(--ee-admin-bar-height) / 2 );
	}

	.ee-modal {
		&__header {
			&.ee-modal__header {
				max-width: 100%;
				position: relative;
				z-index: 1;

				.ee-entity-edit-modal & {
					color: var(--ee-default-text-color-high-contrast);
				}

				&.ee-modal--with-border {
					border-bottom: 0.5px solid var(--ee-border-color);
				}

				[dir='rtl'] & {
					padding-right: var(--ee-padding-extreme);
				}

				@include max782px {
					padding-left: var(--ee-padding-smaller);
					padding-right: var(--ee-padding-extreme);
				}
			}
		}

		&__body {
			max-width: 100%;
			padding-inline: var(--ee-padding-smaller);
			@include min1280px {
				padding-inline: var(--ee-padding-small);
			}
			@include min1920px {
				padding-inline: var(--ee-padding-default);
			}

			@include max782px {
				padding-left: var(--ee-padding-smaller);
				padding-right: var(--ee-padding-smaller);
			}
		}

		&__footer {
			flex-wrap: wrap;
			max-width: 100%;


			&.ee-modal--with-border {
				border-top: 0.5px solid var(--ee-border-color);
			}

			@include max782px {
				padding: var(--ee-padding-smaller);
			}
		}
		// this selector is used for specificity
		@at-root [role='alertdialog']#{&} {
			.ee-modal__close-btn {
				display: inline-flex;
				height: var(--ee-padding-big);
				position: absolute;
				right: 5px;
				top: 4px;
				width: var(--ee-padding-big);

				svg {
					height: var(--ee-border-radius-big);
					margin: 0;
					width: var(--ee-border-radius-big);
				}
			}
		}
	}

	@include min1024px {
		border-radius: var(--ee-border-radius-big);
		max-height: 95%;
		max-width: max(95%, 72rem);

		.admin-bar & {
			max-height: calc(95% - var(--ee-admin-bar-height));
		}
	}
	@include min1600px {
		max-width: max(90%, 84rem);
	}
	@include min1920px {
		max-width: max(80%, 96rem);
	}
}
