.ee-address-view {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--ee-margin-tiny);

	&__item {
		display: flex;

		&--label,
		&--value {
			flex: 1;
		}

		&--label {
			font-weight: bold;
			margin-bottom: var(--ee-margin-tiny);
		}
	}
}
